#map {
  overflow: unset !important;
}

.card .card-header-roxo .card-icon,
.card .card-header-roxo .card-text,
.card .card-header-roxo:not(.card-header-icon):not(.card-header-text), .card.bg-roxo,
.card.card-rotate.bg-roxo .front,
.card.card-rotate.bg-roxo .back {
  background: linear-gradient(60deg, #3D276B, #7454ba);
}

.card .card-header-cinza .card-icon,
.card .card-header-cinza .card-text,
.card .card-header-cinza:not(.card-header-icon):not(.card-header-text), .card.bg-cinza,
.card.card-rotate.bg-cinza .front,
.card.card-rotate.bg-cinza .back {
  background: linear-gradient(60deg, #918f91, #bdbdbd);
}

.cinza {
	background: linear-gradient(60deg, #dbdbdb, #ffffff);
}

.footer {
	position: absolute;
  bottom: 0;
  z-index: 3;
  width: 100%;
  pointer-events: none !important;
  padding: 0;
}

.footer a {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	pointer-events: auto;
	text-align: center;
}

.main-panel {
	height: 100vh;
	overflow: hidden;
}

.navbar.fixed-top .collapse .navbar-form {
	margin: auto;
	justify-content: center;
}

.navbar a img.logo {
	position: absolute;
	top: 5px;
}

.navbar.fixed-top .navbar-toggler .navbar-toggler-icon.icon-bar {
	background-color: #FFF !important;
}

.no-padding {
	padding: 0 !important;
}

.roxo {
	background: linear-gradient(to right, rgba(61,39,107,1) 0%, rgba(61,39,107,1) 62%, rgba(116,84,186,1) 100%);
	color: #FFF;
}

.roxo.footer {
	opacity: 0.7;
}

/*Media queries****************************************************************/

@media screen and (max-width: 991px) {

	.footer a {
		font-size: 0.6em !important;
	}

	.navbar a img.logo {
		left: 5px;
		width: 10.3em;
	}

	.off-tablet {
		display: none !important;
	}
}

@media screen and (min-width: 991px) {
	
	.footer a {
		font-size: 0.7em !important;
	}

	.navbar a img.logo {
		width: 15em;
	}

	.off-computer {
		display: none !important;
	}
		
	/*Manter enquanto o login não for definido*/
	.sidebar {
		display: none!important;
	}

	/*Manter enquanto o login não for definido*/
	.sidebar-mini .main-panel {
    width: 100% !important;
	}

	.sidebar-wrapper {
		overflow: hidden !important;
	}

	.navbar-expand-lg .navbar-collapse .navbar-form .input-group input.form-control {
		width: 30em;
	}
}